@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    background: url('../imagens/tela-home.jpg') no-repeat center top;

    background-size: cover;
}
div{
    border-radius: 10px;
    width: 43px;
    height: 43px;
    margin: 387px 0px 0px 195px;
}
div:hover{
    width: 43px;
    height: 43px;
    border: 1px solid rgba(255, 255, 255, 0.603);
    margin: 386px 0px 0px 194px;
}
a > img{
    width: 43px;
    height: 43px;
    border-radius: 8px;
}